In [4]:
import pandas as pd
import numpy as np
import datetime as dt

In [5]:
df = pd.DataFrame()
df['date'] = pd.date_range(start = '2018-01-01',
                           end = '2019-04-30')
df['v1'] = np.random.randint(0, 100, df.shape[0])
#df['v2'] = np.random.choice([1, 9, 20], df.shape[0])

In [6]:
df1 = df.copy()

In [7]:
df1 = df1[df1['date']>'2018-09-30']

df1['week_Mon'] = df1['date'] - pd.to_timedelta(df1['date'].dt.dayofweek, unit='d') 
df1['week_Mon2'] = pd.PeriodIndex(df1.date, freq='W').to_timestamp()
df1['daysoffset'] = df1['date'].apply(lambda x: 0 if x.weekday()+1 == 7 else x.weekday()+1)
df1['week_Sun'] = df1['date'] - pd.to_timedelta(df1['daysoffset'], unit='d') 
df1['week_Sun2'] = df1.apply(lambda x: x['date'] - dt.timedelta(days=x['daysoffset']), axis=1)

df1['month'] = pd.PeriodIndex(df1.date, freq='M').to_timestamp() 
df1['month2'] = df1['date'].values.astype('datetime64[M]')
df1['month3'] = df1['date'] - pd.to_timedelta(df1['date'].dt.day - 1, unit='d')

df1['quarter'] = pd.PeriodIndex(df1.date, freq='Q')
df1['quarter_start'] = pd.PeriodIndex(df1.date, freq='Q').to_timestamp()
df1['quater_end'] = df1['quarter'].dt.end_time.dt.date

df1['year1'] = pd.PeriodIndex(df1.date, freq='Y').to_timestamp() 
df1['year2'] = df1['date'].values.astype('datetime64[Y]')

In [8]:
df1.head(5)

,date,v1,week_Mon,week_Mon2,daysoffset,week_Sun,week_Sun2,month,month2,month3,quarter,quarter_start,quater_end,year1,year2
273,2018-10-01,33,2018-10-01,2018-10-01,1,2018-09-30,2018-09-30,2018-10-01,2018-10-01,2018-10-01,2018Q4,2018-10-01,2018-12-31,2018-01-01,2018-01-01
274,2018-10-02,12,2018-10-01,2018-10-01,2,2018-09-30,2018-09-30,2018-10-01,2018-10-01,2018-10-01,2018Q4,2018-10-01,2018-12-31,2018-01-01,2018-01-01
275,2018-10-03,12,2018-10-01,2018-10-01,3,2018-09-30,2018-09-30,2018-10-01,2018-10-01,2018-10-01,2018Q4,2018-10-01,2018-12-31,2018-01-01,2018-01-01
276,2018-10-04,58,2018-10-01,2018-10-01,4,2018-09-30,2018-09-30,2018-10-01,2018-10-01,2018-10-01,2018Q4,2018-10-01,2018-12-31,2018-01-01,2018-01-01
277,2018-10-05,14,2018-10-01,2018-10-01,5,2018-09-30,2018-09-30,2018-10-01,2018-10-01,2018-10-01,2018Q4,2018-10-01,2018-12-31,2018-01-01,2018-01-01

In [9]:
from calendar import monthrange

month_year = []
def month_year_iter(start_month, start_year, end_month, end_year):
    ym_start= 12*start_year + start_month - 1
    ym_end= 12*end_year + end_month - 1
    for ym in range(ym_start, ym_end+1):
        y, m = divmod(ym, 12)
        last_day = monthrange(y, m+1)[1]
        month_year.append([('%s-%s-01' %(y,m+1)), ('%s-%s-%s' %(y,m+1,last_day))])

month_year_iter(1, 2019, 12, 2019)

In [11]:
month_year

[['2019-1-01', '2019-1-31'],
 ['2019-2-01', '2019-2-28'],
 ['2019-3-01', '2019-3-31'],
 ['2019-4-01', '2019-4-30'],
 ['2019-5-01', '2019-5-31'],
 ['2019-6-01', '2019-6-30'],
 ['2019-7-01', '2019-7-31'],
 ['2019-8-01', '2019-8-31'],
 ['2019-9-01', '2019-9-30'],
 ['2019-10-01', '2019-10-31'],
 ['2019-11-01', '2019-11-30'],
 ['2019-12-01', '2019-12-31']]