In [90]:
import pandas as pd
import numpy as np
import datetime as dt

In [92]:
df = pd.DataFrame()
df['date'] = pd.date_range(start = '2018-01-01',
                           end = '2019-04-30')
df['v1'] = np.random.randint(0, 100, df.shape[0])
#df['v2'] = np.random.choice([1, 9, 20], df.shape[0])

In [89]:
df1 = df1[df['date']>'2018-09-30']

df1['week_Mon'] = df1['date'] - pd.to_timedelta(df1['date'].dt.dayofweek, unit='d') 
df1['week_Mon2'] = pd.PeriodIndex(df1.date, freq='W').to_timestamp()
df1['daysoffset'] = df1['date'].apply(lambda x: 0 if x.weekday()+1 == 7 else x.weekday()+1)
df1['week_Sun'] = df1['date'] - pd.to_timedelta(df1['daysoffset'], unit='d') 
df1['week_Sun2'] = df1.apply(lambda x: x['date'] - dt.timedelta(days=x['daysoffset']), axis=1)

df1['month'] = pd.PeriodIndex(df1.date, freq='M').to_timestamp() 
df1['month2'] = df1['date'].values.astype('datetime64[M]')
df1['month3'] = df1['date'] - pd.to_timedelta(df1['date'].dt.day - 1, unit='d')

df1['quarter'] = pd.PeriodIndex(df1.date, freq='Q')
df1['quarter_start'] = pd.PeriodIndex(df1.date, freq='Q').to_timestamp()
df1['quater_end'] = df1['quarter'].dt.end_time.dt.date

df1['year1'] = pd.PeriodIndex(df1.date, freq='Y').to_timestamp() 
df1['year2'] = df1['date'].values.astype('datetime64[Y]')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [94]:
df1.head(5)

,date,values,week_Mon,week_Mon2,daysoffset,week_Sun,week_Sun2,month,month2,month3,quarter,year1,year2,quarter_start,quarter_start2,quater_end
273,2018-10-01,36,2018-10-01,2018-10-01,1,2018-09-30,2018-09-30,2018-10-01,2018-10-01,2018-10-01,2018Q4,2018-01-01,2018-01-01,2018-10-01,2018-10-01,2018-12-31
274,2018-10-02,62,2018-10-01,2018-10-01,2,2018-09-30,2018-09-30,2018-10-01,2018-10-01,2018-10-01,2018Q4,2018-01-01,2018-01-01,2018-10-01,2018-10-01,2018-12-31
275,2018-10-03,53,2018-10-01,2018-10-01,3,2018-09-30,2018-09-30,2018-10-01,2018-10-01,2018-10-01,2018Q4,2018-01-01,2018-01-01,2018-10-01,2018-10-01,2018-12-31
276,2018-10-04,38,2018-10-01,2018-10-01,4,2018-09-30,2018-09-30,2018-10-01,2018-10-01,2018-10-01,2018Q4,2018-01-01,2018-01-01,2018-10-01,2018-10-01,2018-12-31
277,2018-10-05,53,2018-10-01,2018-10-01,5,2018-09-30,2018-09-30,2018-10-01,2018-10-01,2018-10-01,2018Q4,2018-01-01,2018-01-01,2018-10-01,2018-10-01,2018-12-31