In [54]:
import pandas as pd
import numpy as np

In [52]:
# 1. Replace column values based on another dataframe python pandas - better way?
df1 = pd.DataFrame([["X",1,1,0], ["Y",0,1,0], ["Z",0,0,0], ["Y",0,0,0]],
                    columns=["Name","Nonprofit","Business", "Education"])    

df2 = pd.DataFrame([["Y",1,1], ["Z",1,1]],columns=["Name","Nonprofit", "Education"])

In [33]:
# 1.1_method1: using pd.update()
df2 = df1.set_index('Name')
df2 = df2.set_index('Name')
df1.update(df2)
df1.reset_index(inplace=True)

In [40]:
# 1.2_method2: merge
df1 = df1.merge(df2,on='Name',how="left")
df1['Nonprofit_y'] = df1['Nonprofit_y'].fillna(df1['Nonprofit_x'])
df1['Education_y'] = df1['Education_y'].fillna(df1['Education_x'])
df1.drop(["Education_x","Nonprofit_x"],inplace=True,axis=1)
df1.rename(columns={'Education_y':'Education','Nonprofit_y':'Nonprofit'},inplace=True)

In [57]:
# 2. Drop Nan value
df = pd.DataFrame(np.random.randn(10,3))
df.iloc[::2,0] = np.nan; df.iloc[::4,1] = np.nan; df.iloc[::3,2] = np.nan

In [60]:
df.dropna()

df.dropna(how='all')

df.dropna(thresh=2) 

df.dropna(subset=[1]) 
df[df[2].notnull()]
df[~df[2].isnull()]
df[~np.isnan(df[2])]

          0         1         2
1 -2.966789  1.179701  1.428787
2       NaN -0.886587  1.549733
3 -0.744843  0.823238       NaN
5 -1.398450  1.236819 -0.324916
6       NaN  0.627484       NaN
7 -1.744728 -0.077998 -0.306381
9  1.655729  0.987490       NaN

In [80]:
# 3. Selection elements of a list based on another 'True'/'False' list
xs = ['sth1','sth2','sth3','sth4']
ys = [True, False, True, False]

# 3.1_method1: zip()
result = [x for x, y in zip(xs, ys) if y == True]
print(result)
# 3.2_method2: np.array()
np_xs = np.array(xs)
np_ys = np.array(ys)
print(np_xs[np_ys].tolist())
# 3.3_method3: compress
from itertools import compress
print(list(compress(xs, ys)))

['sth1', 'sth3']
['sth1', 'sth3']
['sth1', 'sth3']

In [4]:
# 4. Flatten a list of lists
#The list of lists
list_of_lists = [range(4), range(7)]
print(list_of_lists)
#flatten the lists
flattened_list = [y for x in list_of_lists for y in x]

print(flattened_list)


import itertools
flattened_list  = list(itertools.chain(*list_of_lists))
print(flattened_list)

[range(0, 4), range(0, 7)]
[0, 1, 2, 3, 0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 0, 1, 2, 3, 4, 5, 6]

In [18]:
 # 5. Filter columns name
import pandas as pd
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.filter.html
data = {'spike-2': [1,2,3], 'hey spke': [4,5,6]}
df = pd.DataFrame(data)

print(df.filter(like='spike'))

   spike-2
0        1
1        2
2        3

In [10]:
# 6. Filter rows by str.match or str.contain function
data = ["1345677+@gmail.com", "2345678+556@gmail.com", 
        "Testing+22@gmail.com", "test223+22@gmail.com"]
df = pd.DataFrame(data, columns=["email"])

df[df.email.str.match("\d+\+.*")]'
df[df.email.str.contains('^\d+\+.*\@')]'