# Postgres Date Function

#### Extract part of the timestamp with DATE_TRUNC()
<pre>SELECT DATE_TRUNC('month','2015-04-12 14:44:18'::date)</pre>

#### Find events relative to the present time with NOW() and CURRENT_DATE
<pre>
SELECT CURRENT_DATE, CURRENT_DATE - interval '12 hours' as "twelve hours ago", NOW(), NOW()::date - interval '1 month' as "one month ago"
</pre>

#### Isolate hour-of-day and day-of-week with EXTRACT
<pre>SELECT EXTRACT(dow FROM '2015-02-12'::date)</pre>

#### Calculate the difference between two timesetamps with  AGE, DATE_PART, EXTRACT
<pre>
SELECT '2019-01-01'::date - now()::date as diff_day, 
AGE(now()::date, '2019-01-01'::date) as age_date, 
AGE('2019-01-01'::date) as age_until_now, 
(-DATE_PART('epoch', '2019-01-01'::date) + DATE_PART('epoch', now()::date))/(60*60*24) as date_part_diff_days,
(-extract(epoch from '2019-01-01'::date) + extract(epoch from now()::date))/(60*60*24) as extract_diff_days
</pre>

#### How long does it take users to complete their profile each month, on average?

    Note: extract(epoch 'timestamp' or 'interval') | http://www.postgresqltutorial.com/postgresql-extract/
<pre>
SELECT DATE_TRUNC('month',started_at) AS month,
       EXTRACT(EPOCH FROM AVG(AGE(ended_at,started_at))) AS avg_seconds
FROM modeanalytics.profile_creation_events 
GROUP BY 1
ORDER BY 1  
 </pre>

# Analysis

#### Get the first row per group
<pre>
WITH _events (
  SELECT *, 
  row_number() OVER (PARTITION BY  user_id ORDER BY created_at DESC) AS row_number
  FROM events
  WHERE day = '2018-01-01'::date
)

SELECT *
FROM _events
WHERE row_number = 1
</pre>

#### Avoid Gaps in Data
<pre>
WITH days AS (
  SELECT generate_series(
    DATE_TRUNC('day', NOW()) - '30 days'::interval,
    DATE_TRUNC('day', NOW()),'1 day'::interval
  ) AS day
)

SELECT days.day, COALESCE(COUNT(users.id),0)
FROM days
LEFT JOIN users ON DATE_TRUNC('day', users.created_at) = days.day
GROUP BY 1
</pre>

#### Type Casting
<pre>
-- Cast text to boolean
select 'true'::boolean;

-- Cast float to integer
select 1.0::integer;

-- Cast integer to float
select '3.33'::float;
select 10/3.0; -- This will return a float too

-- Cast text to integer
select '1'::integer;

-- Cast text to timestamp
select '2018-01-01 09:00:00'::timestamp;

-- Cast text to date
select '2018-01-01'::date;

-- Cast text to interval
select '1 minute'::interval;
select '1 hour'::interval;
select '1 day'::interval;
select '1 week'::interval;
select '1 month'::interval;
</pre>

#### Compare Two Values when One is Null
<pre>
SELECT count(1)
FROM items
WHERE width is distinct from height;
</pre>

<pre>
SELECT count(1)
FROM items
WHERE width != height or width is Null or height is Null
</pre>

#### Case
<pre>
SELECT
  CASE
    WHEN precipitation = 0 THEN 'none'
    WHEN precipitation <= 5 THEN 'little'
    WHEN precipitation > 5 THEN 'lots'
    ELSE 'unknown'
  END AS amount_of_rain
FROM weather_data;
</pre>

#### Filter while Doing Multiple Counts
<pre>
SELECT
  COUNT(1), -- Count all users
  COUNT(1) FILTER (WHERE gender = 'male'), -- Count male users
  COUNT(1) FILTER (WHERE beta IS TRUE) -- Count beta users
  COUNT(1) FILTER (WHERE active IS TRUE AND beta IS FALSE) -- Count active non-beta users
FROM users
</pre>

#### Cumulative Sum Total 
<pre>
WITH data AS (
  SELECT DATE_TRUNC('day', created_at) AS day, count(1)
  FROM users
  GROUP BY 1
)

SELECT day, 
  SUM(count) OVER (ORDER BY day ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)
FROM data
</pre>